/* Universal Styles  */

* {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  background: grey;
}
input {
  max-width: 920px;
  margin: 0 auto;
}

input[type="text"] {
  width: 50%;
  height: 100%;
  padding: 12px 20px;
  border-radius: 10px;
  border: black solid 2px;
}

form {
  display: flex;
  justify-content: center;
  height: 3em;
  width: 80%;
  margin: auto;
}

ul {
  display: flex;
}

a {
  list-style: none;
  padding: 0;
  margin: 10px;
}

img {
  border: black solid 2px;
  border-radius: 10px;
}

/* Classes */
.container {
  margin: 2em auto;
  max-width: 90%;
}

.search {
  height: 6rem;
  align-items: center;
}

.images {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  margin: 0 auto;
  justify-content: center;
}

.lb-dataContainer {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20x;
  max-width: 600px;
}

.lb-dataContainer .lb-caption {
  font-size: 20px;
}

.lb-data .lb-close {
  display: none;
}

.lb-nav a.lb-prev,
.lb-nav a.lb-next {
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 60%;
}

/* Media Queries */

@media (max-width: 768px) {
  .container {
    margin: 2em auto;
    max-width: 97%;
  }
  input[type="text"] {
    width: 90%;
  }
}
